# Google Apps Script Web App URL
# You get this after deploying your script as a Web App in Google Apps Script
# Deploy -> New Deployment -> Select "Web App" -> Set "Who has access" to "Anyone"
VITE_GOOGLE_SCRIPT_URL=YOUR_DEPLOYED_WEB_APP_URL_HERE
